body {
  font-family: sans-serif;
  margin: auto;
  max-width: 80%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.ma-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.w-50 {
  width: 49%;
}

.d-inline-block {
  display: inline-block;
}

.v-align-top {
  vertical-align: top;
}

@media screen and (max-width: 992px) {
  body {
    max-width: 90%;
  }

  .w-50 {
    width: 100%;
  }
}
